# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
canny_mpi

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
a.out
*.app

# vscode
.dist
.vscode
.vscode/*
